<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail post</title>
    <link rel="stylesheet" href="/show.css">
</head>
<body>
    <div class="container_detail"></div>

        <div><h1 class="heading_detail">Here is post detail</h1></div>

        <div class="posts_detail">
            <h2 class="user_detail">@<%= post.username %> </h2>
            <h4 class="content_detail"><%= post.content %> </h4>
        </div>

        <div class="btns_detail">
            <a href="/posts/<%=post.id%>/edit" class="edit_detail">edit</a>
            <form method="post" action="/posts/<%=post.id%>?_method=DELETE"> 
                <button class="delete_style_detail">Delete</button>
            </form>
        </div>

    </div>

</body>
</html>
